receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
        cors:
          allowed_origins:
            - https://gestauto.tasso.dev.br
          allowed_headers:
            - Content-Type
            - Authorization
            - traceparent
            - tracestate
            - baggage

processors:
  batch:
    timeout: 10s
    send_batch_size: 1024

exporters:
  otlp/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true

  opensearch/logs:
    http:
      endpoint: http://opensearch:9200
      tls:
        insecure: true
    dataset: otel
    namespace: logs

  debug:
    verbosity: detailed

extensions:
  grpc_reflection: {}

service:
  extensions: [grpc_reflection]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tempo, debug]

    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [opensearch/logs, debug]

    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]
